body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
}
.form-check-label{
    font-family: "Open Sans", sans-serif;
    color: rgb(100, 98, 98) !important; 
}
.add-todo-input,
.edit-todo-input {
    outline: none;
}
#error,#success{
    display: none;
}
.add-todo-input:focus,
.edit-todo-input:focus {
    border: none !important;
    box-shadow: none !important;
}

.view-opt-label,
.date-label {
    font-size: 0.8rem;
}

.edit-todo-input {
    font-size: 1.7rem !important;
}

.todo-actions {
    visibility: hidden !important;
}

.todo-item:hover .todo-actions {
    visibility: visible !important;
}

.todo-item.editing .todo-actions .edit-icon {
    display: none !important;
}

.h1{
    font-size: 2.1rem;
}